.home {
  position: relative;
  font-family: 'Roboto', sans-serif;
  .content {
    // width: calc(100% - 280px);
    height: auto;
    margin: 80px 0 24px 280px;
    background-color: inherit;
    padding: 20px;
    .line {
      display: inline-block;
      width: 100%;
    }
  }
}
