.input-group {
  float: left;
  font-family: "Roboto", sans-serif;
  width: 280px;
  height: 80px;
  margin: 0;
  padding: 0;
  border-right: 1px solid #dedede;
  .input-form {
    float: left;
    border: 0;
    text-align: right;
    margin-right: 16px;
    height: inherit;
    width: 216px;
    outline: none;
  }
  .input-btn {
    cursor: pointer;
    float: left;
    border: 0px;
    height: inherit;
    width: 48px;
    background-color: inherit;
    outline: none;
    mat-icon {
        color: #777777;
        margin-top: 7px;
    }
  }
}
